---
- name: apt-get clean
  become: true
  command: apt-get clean

- name: wipe apt lists
  become: true
  warn: false
  shell: "rm -rf /var/lib/apt/lists/*"

- name: wipe user cache
  file:
    state: absent
    path: "~/.cache"

- name: wipe root cache
  become: true
  file:
    state: absent
    path: "~/.cache"
